* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(143, 49, 49);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow-y: hidden;
}

input {
    width: 20px;
    height: 20px;
    border: 1px solid rgb(0, 0, 0);
    background-color: white
}

input:hover {
    cursor: pointer;
}

#tempo {
    color: white;
}