* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(248, 222, 127);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow-y: hidden;
}

input {
    width: 28px;
    height: 28px;
    border: 1px solid rgb(0, 0, 0);
    background-color: white
}

input:hover {
    cursor: pointer;
}